# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
pokemon = {"evolution": ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp': [45, 39, 44, 45],
        'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [5]:
poke = pd.DataFrame(pokemon)
poke

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [12]:
[poke.sort_values(col) for col in poke.columns]

[    evolution  hp        name pokedex   type
 1  Charmeleon  39  Charmander      no   fire
 0     Ivysaur  45   Bulbasaur     yes  grass
 3     Metapod  45    Caterpie      no    bug
 2   Wartortle  44    Squirtle     yes  water,
     evolution  hp        name pokedex   type
 1  Charmeleon  39  Charmander      no   fire
 2   Wartortle  44    Squirtle     yes  water
 0     Ivysaur  45   Bulbasaur     yes  grass
 3     Metapod  45    Caterpie      no    bug,
     evolution  hp        name pokedex   type
 0     Ivysaur  45   Bulbasaur     yes  grass
 3     Metapod  45    Caterpie      no    bug
 1  Charmeleon  39  Charmander      no   fire
 2   Wartortle  44    Squirtle     yes  water,
     evolution  hp        name pokedex   type
 1  Charmeleon  39  Charmander      no   fire
 3     Metapod  45    Caterpie      no    bug
 0     Ivysaur  45   Bulbasaur     yes  grass
 2   Wartortle  44    Squirtle     yes  water,
     evolution  hp        name pokedex   type
 3     Metapod  45    Caterpie      no    bug
 1  Charmeleon  39  Charmander      no   fire
 0     Ivysaur  45   Bulbasaur     yes  grass
 2   Wartortle  44    Squirtle     yes  water]

### Step 5. Add another column called place, and insert what you have in mind.

In [13]:
poke['place'] = ['a', 'b', 'c', 'd']
poke

    evolution  hp        name pokedex   type place
0     Ivysaur  45   Bulbasaur     yes  grass     a
1  Charmeleon  39  Charmander      no   fire     b
2   Wartortle  44    Squirtle     yes  water     c
3     Metapod  45    Caterpie      no    bug     d

### Step 6. Present the type of each column

In [14]:
poke.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [21]:
# how many pokemon are at full hp? (45)
FULL_HP = 45
(poke['hp'] == FULL_HP).sum()

2

In [23]:
len(poke.loc[poke['hp'] == FULL_HP])

2